body {
    background-color: #e1e0e0;
}


#ftsGaleria{display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 20px;
    row-gap: 20px;
}
.foto{
    background-color: #ffffff;
    border: 2px solid black;
    text-align: center;
    padding: 20px;
    height: 120px;
}



#site{
    display: grid;
    grid-template-areas: 
    'a   a   a'
    'b   c   c'
    'g   g   g'
    'h   h   h'


;
    
}
#menuhori {
    background-color:#ffffff ;
    padding: 20px;
    text-align: center;
    grid-area: a;
    border: 10px solid black;

}
#ftPfl {
    background-color:gray ;
    padding: 20px;
    text-align: center;
    grid-area: b;
    width: 200px;
    height: 150px;
    margin: 10px 0px 0px 200px;
    
}

#informações{
    background-color:#e1e0e0 ;
    padding: 40px;
    text-align: justify;
    grid-area: c;
    height: 150px;
    margin: 10px 200px 0px 0px;
}


#menuGaleria{
    background-color:#e1e0e0 ;
    padding: 20px;
    text-align: center;
    grid-area: g;
    border: 10px solid green;
    margin: 10px 200px 10px 200px;
   

}
#galeria{
    background-color:#e1e0e0 ;
    padding: 20px;
    text-align: center;
    grid-area: h;
    
    border: 10px solid blue;
    margin: 10px 200px 10px 200px;

}
